@mixin box-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

@mixin flex{
    display: flex;
    flex-direction: row;
}

@mixin box-card{
    width: 25vw;
    height: 300px;
    padding: 2px;
}