$fontFamily : 'Lobster Two', cursive;
$margem: 0;
$colorGrenn: #57672B;

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: rgba(217, 217, 217,0.3);
    padding: 5px;
    
}

// $f{
    
//     font-size: 3.5em;
//     font-weight: 100;
//     color: #57672B;
//     margin: 0;
    
// }
